---

type Props = {
  title?: string;
  description?: string;
  link?: string
}

const {title = "Title", description = "Description", link = "/"} = Astro.props as Props;

---

<div class="jadore-area-item">
  <a href={link}>
    <div class="jadore-areas-divs">
      <div class="jadore-area-name-desc-dev">
        <h2 class="jadore-area-name-div">
          {title}
        </h2>

      </div>
      <div>
        <p class="jadore-areas-adv">{description}</p>
      </div>
    </div>
  </a>
</div>